extends layout

block content
  h1 Register

  form(method='POST' action='/login')
    .input-group.mb-3
      .input-group-prepend
        .input-group-text $
      input.form-control(type='text', placeholder='Username', name='username')

    .input-group.mb-3
      .input-group-prepend
        .input-group-text *
      input.form-control(type='password', placeholder='Password', name='password')

    .input-group.mb-3
      .input-group-prepend
        .input-group-text @
      input.form-control(type='email', placeholder='E-mail', name='email')

    .input-group.mb-3
      .input-group-prepend
        .input-group-text +()
      input.form-control(type='tel', placeholder='Tel:', name='phone')



    button.btn.btn-dark Login


